// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-user-info {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.user-header {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.user-page-info {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 100px;
}

.user-page-info > .user-avatar {
    height: 50px;
    width: 45px;
    text-align: center;
}

.user-page-info > .user-avatar > p {
    margin-top: 10px;
    font-size: 2em;
}

.user-page-info > h1 {
    margin-left: 20px;
    font-size: 25px;
    color: white;
}

.user-header-toggle {
    // position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    color: gray;
    li {
        padding: 15px 50px;
        vertical-align: middle;
        font-weight: 600;
        font-size: 14px;
    }

    li:hover {
        cursor: pointer;
        color: white;
    }
}

.toggled {
    border-bottom: 3px solid #AAAAAA;
    color: white;
}

.user-main-page {
    background-color: black;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.user-videos > h1 {
    text-align: center;
    padding-top: 100px;
    color: white;
}

.user-video-show {
    padding: 5px;
}

.user-video-show:hover {
    cursor: pointer;
}

.user-video-show h1 {
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

.video-view-created {
    font-size: 12px;
    color: #AAAAAA;
    margin-top: 10px;
}

.user-page-title {
    font-size: 16px;
    padding: 20px 40px;
    color: white;
}

.all-user-videos {
    padding: 0px 40px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.hidden {
    display: none;
}

.user-about {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 35px;
    padding-right: 20px;
    color: white;
    #s1 {
        width: 20%;
        padding: 15px 0;
        font-size: 16px;
        font-weight: bold;
    }
    #s2 {
        width: 20%;
        padding: 15px 0;
        border-top: 1px solid rgb(68, 68, 68);
        font-size: 14px;
        border-bottom: 1px solid rgb(68, 68, 68);
    }
    #s3 {
        width: 20%;
        padding: 15px 0;
        border-bottom: 1px solid rgb(68, 68, 68);
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .user-header-toggle {
        li {
            padding: 15px 20px;
        }
    }

    .user-about {
        #s1 {
            width: 40%;
        }
        #s2 {
            width: 40%;
        }
        #s3 {
            width: 40%;
        }
    }
}