// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.video-info h1 {
    font-size: 18px;
    padding-top: 20px;
}

.video-info h2 {
    font-size: 14px;
    color: #AAAAAA;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(68, 68, 68);
}

.video-user-info {
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 14px;
}

.video-user-info h3 {
    padding-left: 10px;
}

.video-info h4 {
    padding-top: 20px;
    padding-left: 47px;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(68, 68, 68);
}

.video-player-div {
    padding-right: 20px;
    margin-right: 20px;
}
.video-player {
    width: 100%    !important;
    // height: auto    !important;
    max-width: 900px;
    // max-height: 200px   !important;
    margin-left: 20px;

}

.user-page-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.all-videos {
    padding: 0px 40px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family:Arial, Helvetica, sans-serif
}

.index-video-show {
    padding: 10px;
}

.index-video-info {
    display: flex;
    width: 210px;
    margin-top: 5px;
}

.index-video-info p {
    height: 15px;
}

.index-video-info-side {
    margin-left: 10px;
    font-size: 14px;
    color: #AAAAAA;
}

.index-video-info-side h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.index-video-info-side h2 {
    margin-bottom: 6px;
}