// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-info {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    
}
.video-info h1 {
    font-size: 18px;
    padding-top: 20px;
}

.video-info h2 {
    font-size: 14px;
    color: #AAAAAA;
    padding-top: 10px;
    padding-bottom: 10px;
}

.video-info-likes {
    border-bottom: 1px solid rgb(68, 68, 68);
    display: flex;
    justify-content: space-between;
}

.video-likes {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    border-bottom: 2px solid rgb(251, 251, 251);
}

.video-user-info {
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 14px;
}

.user-video-thumbnail {
    width: 210px;
    height: 118px;
}

.video-user-info h3 {
    padding-left: 10px;
    font-weight: bold;
}

.video-info h4 {
    padding-top: 20px;
    padding-left: 47px;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(68, 68, 68);
}

.video-player-div {
    padding-right: 20px;
    margin-right: 20px;
    margin-top: 15px;
}
.video-player {
    width: 65vw !important;
    margin-left: 20px;

}

.user-page-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.all-videos {
    height: 100%;
    width: calc(100%-72px-2em);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 240px);
    font-family:Arial, Helvetica, sans-serif
}

.index-video-show {
    width: 95%;
    padding-bottom: 20px;
    margin: 0 auto;
}

.index-video-info {
    display: flex;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.index-video-info p {
    height: 15px;
}

.index-video-info-side {
    margin-left: 10px;
    font-size: 14px;
    color: #AAAAAA;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.index-video-info-side h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.index-video-info-side h2 {
    margin-bottom: 6px;
    width:100%;
}

.video-show-page {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.video-show {
    width: 70%;
}

.video-index-side {
    width: calc(30%-1em);
    width: 29%;
}

.side-video-show {
    display: flex;
    margin: 5px;
    width: 100%;

    .user-video-thumbnail {
        width: 168px;
        height: 94px;
    }
}

.all-side-videos {
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fill, 100%);
    font-family:Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
    
    .video-show-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: calc(100%-50px);
        margin: 0 auto;
    }

    .video-show {
        width: 90%;
    }

    .user-page-title {
        border-top: 1px solid rgb(68, 68, 68);
    }
    
    .video-info {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        margin: 0 auto;

        h4 {
            padding-top: 20px;
            margin-left: 20px;
            font-size: 14px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(68, 68, 68);
        }
    }

    .video-player-div {
        padding-right: 0px;
        margin-right: 0px;
        margin-top: 10px;
    }

    .video-player {
        width: 95vw !important;
        margin-left: 10px;
    }

    .video-info-likes {
        border-bottom: 1px solid rgb(68, 68, 68);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 20px;
    }

    .video-user-info {
        display: flex;
        align-items: center;
        padding-top: 20px;
        margin-left: 20px;
        font-size: 14px;
    }

    .all-side-videos {
        height: 100%;
        width: calc(100%-72px-2em);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family:Arial, Helvetica, sans-serif
    }

    .video-index-side {
        width: 95%;
        margin: 0 auto;
        overflow-y: visible;
        overflow-x: visible;

        .user-video-thumbnail {
            width: 180px;
            height: 100px;
        }

        .side-video-show {
            display: flex;
            justify-content: center;
            margin: 0px;
            padding-bottom: 10px;
            width: 100%;
            text-overflow: ellipsis;
            margin: 0 auto;
        }

        .index-video-info {
            display: flex;
            width: 100%;
            margin-top: 5px;
        }

        .index-video-view-created {
            display: flex;
            flex-direction: column;
        }
    }
}