/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require 00reset
 *= require_tree
 *= require_self
 */

    body {
        background-color: #181818;
        color: #aaa;
        width: 100%;
        height: 100%;
    }

    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #3ea6ff;
        font-family: Arial, Helvetica, sans-serif;
        color: #3ea6ff;
        padding: 5px 11px;
        text-align: center;
    }

    .login img {
        height: 28px;
        padding-right: 10px;
    }

    .login-text {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: #3ea6ff;
    }


    .greeting {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .user-avatar {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        border-radius: 100px;
        width: 10px;
        color : white;
        padding: 10px 13px;
    }

    .user-avatar {
        display: inline-block;
    }

    .logo {
        height: 23px;
        width: 96px;
        padding: 18px 14px 18px 16px;
    }

.pagenotfound{
    background: #f1f1f1;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    margin-top: -10px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagenotfound img {
    margin: 0 auto;
    width: 500px;
    -webkit-transition: width 0.6s ease-out;
    -moz-transition: width 0.6s ease-out;
    transition: width 0.6s ease-out;
}

.pagenotfound img:hover {
    margin: 0 auto;
    width: 520px;
}

.pagenotfound > p {
    color: #333;
    font: 16px "YouTube Noto",Roboto,arial,sans-serif;
    margin: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}  

@media screen and (max-width: 800px) {
    .pagenotfound img {
        width: 300px;
    }

    .pagenotfound img:hover {
        width: 320px;
    }
}